global:
  checkNewVersion: false
  sendAnonymousUsage: false

api:
  dashboard: false

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
    http:
      tls:
        certResolver: letsencrypt
{% if traefik_base_domain %}
        domains:
          - main: "{{ traefik_base_domain }}"
            sans:
              - "*.{{ traefik_base_domain }}"
{% endif %}

certificatesResolvers:
  letsencrypt:
    acme:
      email: {{ acme_email }}
      storage: /letsencrypt/acme.json
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "1.0.0.1:53"
        delayBeforeCheck: "20s"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: odoo-network

log:
  level: INFO

accessLog: {}
