[options]
admin_passwd = {{ admin_passwd }}
db_host = False
db_port = False
db_user = {{ odoo_user }}
db_password = False
db_name = {{ db_name }}
http_port = {{ http_port }}
proxy_mode = False
workers = 2
max_cron_threads = 1
addons_path = {{ addons_path }}
logfile = {{ log_dir }}/{{ db_name }}.log
