global:
  checkNewVersion: false
  sendAnonymousUsage: false

api:
  dashboard: false

entryPoints:
  web:
    address: ":80"
{% if traefik_tls_mode != 'DISABLED' %}
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
    http:
      tls:
        certResolver: letsencrypt
{% if traefik_base_domain %}
        domains:
          - main: "{{ traefik_base_domain }}"
            sans:
              - "*.{{ traefik_base_domain }}"
{% endif %}
{% endif %}

providers:
  file:
    directory: {{ traefik_dynamic_dir }}
    watch: true

{% if traefik_tls_mode != 'DISABLED' %}
certificatesResolvers:
  letsencrypt:
    acme:
      email: {{ traefik_acme_email }}
      storage: {{ traefik_acme_storage }}
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "1.0.0.1:53"
        delayBeforeCheck: "20s"
{% endif %}

log:
  level: {{ traefik_log_level }}

accessLog: {}
