http:
  routers:
{% if traefik_tls_mode != 'DISABLED' %}
    {{ route_name }}-http:
      rule: Host(`{{ domain }}`)
      entryPoints:
        - web
      middlewares:
        - {{ route_name }}-https-redirect
      service: {{ route_name }}
    {{ route_name }}:
      rule: Host(`{{ domain }}`)
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt
      service: {{ route_name }}
    {{ route_name }}-websocket:
      rule: Host(`{{ domain }}`) && PathPrefix(`/websocket`)
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt
      service: {{ route_name }}
    {{ route_name }}-longpolling:
      rule: Host(`{{ domain }}`) && PathPrefix(`/longpolling`)
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt
      service: {{ route_name }}-longpolling
  middlewares:
    {{ route_name }}-https-redirect:
      redirectScheme:
        scheme: https
        permanent: true
{% else %}
    {{ route_name }}:
      rule: Host(`{{ domain }}`)
      entryPoints:
        - web
      service: {{ route_name }}
    {{ route_name }}-websocket:
      rule: Host(`{{ domain }}`) && PathPrefix(`/websocket`)
      entryPoints:
        - web
      service: {{ route_name }}
    {{ route_name }}-longpolling:
      rule: Host(`{{ domain }}`) && PathPrefix(`/longpolling`)
      entryPoints:
        - web
      service: {{ route_name }}-longpolling
{% endif %}
  services:
    {{ route_name }}:
      loadBalancer:
        servers:
          - url: http://127.0.0.1:{{ http_port }}
    {{ route_name }}-longpolling:
      loadBalancer:
        servers:
          - url: http://127.0.0.1:{{ (http_port | int) + 1000 }}
